<a href="/post/{{id}}" class="text-decoration-none">
            <h2 class="text-dark">{{title}}</h2>
            </a>
        <p>Original Poster: 
            <strong>{{user.username}}</strong></p>
        <p>{{format_date created_at}}</p>
        <span class="badge bg-primary text-wrap">Comments: {{comments.length}}</span>